mixin product(obj)
    - var cols1 = ''
    - var cols2 = ''
    if obj.cols
        - cols1 = obj.cols[0]
        - cols2 = obj.cols[1]

    div(class=obj.row + " product")&attributes(attributes)
        div(class=cols1 + " image-box " + obj.boxImage)
            if (obj.img)
                !="\n"
                img(class="image-box__image product__img",
                    src="images/product/" + obj.img + obj.format,
                    srcset="images/product/" + obj.img + "@2x" + obj.format,
                    alt=obj.img)
                !="\n"
                
        div(class=cols2 + " " + obj.boxText)
            include ../../_blocks/block-text/block-text.pug
            +block-text({
                titleColor: obj.color,
                title: "Lorem ipsum dolor",
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper."
            })
            
    !="\n"

    // END .product
