mixin products-preview(obj)
    section(class="products-preview")
        div(class="box")
            div(class="container")
                div(class="row product-preview")
                    div(class="col-xl-5 col-lg-6 col-md-6 col-sm-12")
                        div(class="product-preview__image-box image-box")
                            !="\n"
                            img(class="image-box__image",
                                src="images/product/" + obj.img + obj.format,
                                srcset="images/product/" + obj.img + "@2x" + obj.format,
                                alt=obj.img)
                            !="\n"
                
                    div(class="col-xl-7 col-lg-6 col-md-6 col-sm-12")
                        div(class="product-preview__text-box")
                            include ../../_blocks/block-text/block-text.pug
                            +block-text({
                                titleColor: obj.color,
                                title: "Lorem ipsum dolor",
                                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper."
                            })

                div(class="row product-preview")
                    div(class="col-xl-7 col-lg-6 col-md-6 col-sm-12")
                        div(class="product-preview__text-box")
                            include ../../_blocks/block-text/block-text.pug
                            +block-text({
                                titleColor: obj.color,
                                title: "Lorem ipsum dolor",
                                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper."
                            })

                    div(class="col-xl-5 col-lg-6 col-md-6 col-sm-12")
                        div(class="product-preview__image-box image-box")
                        !="\n"
                            img(class="image-box__image",
                                src="images/product/" + obj.img + obj.format,
                                srcset="images/product/" + obj.img + "@2x" + obj.format,
                                alt=obj.img)
            
    !="\n"

    // END .product-preview
